<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Manage Music API</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Manage Music API</h2>
        <p>Add new music, edit existing music, delete music or view all music</p>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form id="music-form">
                    <div class="form-group">
                        <label for="musicName">Music Name</label>
                        <input type="text" class="form-control" id="musicName" name="musicName" required>
                    </div>
                    <div class="form-group">
                        <label for="photoLink">Photo Link</label>
                        <input type="text" class="form-control" id="photoLink" name="photoLink" required>
                    </div>
                    <div class="form-group">
                        <label for="musicLink">Music Link</label>
                        <input type="text" class="form-control" id="musicLink" name="musicLink" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Music</button>
                </form>
            </div>
            <div class="col-md-6">
                <form id="music-form2">
                    <div class="from-group">
                        <label for="musicId">Music ID</label>
                        <input type="text" class="form-control" id="musicId" name="musicId" required>
                    </div>
                    <div class="form-group">
                        <label for="musicName">Music Name</label>
                        <input type="text" class="form-control" id="musicName2" name="musicName" required>
                    </div>
                    <div class="form-group">
                        <label for="photoLink">Photo Link</label>
                        <input type="text" class="form-control" id="photoLink2" name="photoLink" required>
                    </div>
                    <div class="form-group">
                        <label for="musicLink">Music Link</label>
                        <input type="text" class="form-control" id="musicLink2" name="musicLink" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description2" name="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit Music</button>
                </form>
            </div>
        </div>
        <hr>
    </div>
    <div id="musicList1" class="d-flex justify-content-center align-items-center">
        <!-- table is the center use class bootstrap -->
        <table class="align-items-center">
            <thead>
                <tr>
                    <th>Music Name</th>
                    <th>Photo Link</th>
                    <th>Music Link</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% musics.forEach(music=> { %>
                    <tr>
                        <td id="musicName_<%= music._id%>">
                            <%= music.musicName %>
                        </td>
                        <td>
                            <img id="photoLink_<%=music._id%>" src="<%= music.photoLink %>" class="img-fluid"
                                alt="music photo" style="max-width:100px;">
                        </td>
                        <td id="musicLink_<%=music._id%>" style="max-width: 600px; word-break:break-all;">
                            <%= music.musicLink %>
                        </td>
                        <td id="description_<%=music._id%>" style="max-width: 300px;">
                            <%= music.description %>
                        </td>
                        <td>
                            <button class="btn btn-primary" onclick="editMusicSet('<%= music._id %>')">Edit</button>
                            <button class="btn btn-danger" onclick="deleteMusic('<%= music._id %>')">Delete</button>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>
<!-- jquery -->
<script src="public/js/mangejs.js"></script>
<script src="public/CheckToken.js"></script>

</html>